n8n/n8n.json
{
  "name": "AI Media Generation - Image & Short Video (MinIO + Callback)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-media",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        480
      ],
      "id": "wh-media-001",
      "name": "Webhook - Media Request",
      "webhookId": "ai-media-webhook-001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "INTERNAL_TOKEN_CRED",
          "name": "Internal Token (X-Internal-Token)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize the backend payload (docs/contracts/AI-MEDIA.md).\nconst body = $input.first().json.body || $input.first().json;\n\nconst jobId = body.jobId;\nconst postId = body.postId;\nconst type = body.type;\nconst postType = body.postType || null;\nconst callbackUrl = body.callbackUrl || null;\nconst upload = body.upload || null;\nconst business = body.business || {};\nconst caption = body.caption || '';\nconst referenceImageUrls = Array.isArray(body.referenceImageUrls) ? body.referenceImageUrls : [];\nconst featuredServices = Array.isArray(body.featuredServices) ? body.featuredServices : [];\n\nfunction fail(code, message) {\n  const e = new Error(message);\n  e.httpCode = code;\n  throw e;\n}\n\nif (!jobId) fail(400, 'Field \"jobId\" is required.');\nif (!postId) fail(400, 'Field \"postId\" is required.');\nif (!type || !['image', 'short_video'].includes(type)) fail(400, `Field \"type\" must be 'image' or 'short_video' (got '${type}').`);\nif (!upload || !upload.presignedUrl || !upload.storageKey) fail(400, 'Field \"upload.presignedUrl\" and \"upload.storageKey\" are required.');\nif (!callbackUrl) fail(400, 'Field \"callbackUrl\" is required.');\n\nconst refUrls = referenceImageUrls\n  .filter((u) => typeof u === 'string' && u.trim())\n  .slice(0, 3);\n\nconst mime = (upload.headers && (upload.headers['Content-Type'] || upload.headers['content-type'])) || (type === 'image' ? 'image/png' : 'video/mp4');\n\nreturn [{\n  json: {\n    jobId,\n    postId,\n    type,\n    postType,\n    callbackUrl,\n    upload: {\n      presignedUrl: upload.presignedUrl,\n      storageKey: upload.storageKey,\n      publicUrl: upload.publicUrl || upload.presignedUrl.split('?')[0],\n      headers: upload.headers || { 'Content-Type': mime },\n      maxBytes: upload.maxBytes || (type === 'image' ? 10485760 : 52428800),\n      mime,\n    },\n    business: {\n      id: business.id || null,\n      name: business.name || '',\n      industry: business.industry || '',\n      tone: business.tone || '',\n      keywords: Array.isArray(business.keywords) ? business.keywords : [],\n      logoPublicUrl: business.logoPublicUrl || null,\n    },\n    caption,\n    referenceImageUrls: refUrls,\n    hasReference: refUrls.length > 0,\n    featuredServices: featuredServices.map((s) => ({\n      id: s.id,\n      name: s.name,\n      imagePublicUrl: s.imagePublicUrl || null,\n    })),\n    style: postType || 'lifestyle',\n    aspect_ratio: '1:1',\n    metadata: { jobId, postId, type, postType },\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        480
      ],
      "id": "node-validate",
      "name": "Validate Input",
      "onError": "continueErrorOutput",
      "errorOutputBranch": [
        {
          "branch": "image",
          "message": "Validation failed"
        }
      ]
    },
    {
      "parameters": {
        "jsCode": "// Wrap any thrown error and POST a fail callback to the backend, then rethrow.\n// This is the error-handler for Validate Input.\nconst ctx = $('Validate Input').first().json || {};\nconst err = ($json && $json.error) || {};\nconst message = (err.message || err.description || 'Unknown error').toString().slice(0, 1000);\nif (ctx.callbackUrl && ctx.jobId) {\n  const payload = {\n    jobId: ctx.jobId,\n    error: { code: 'INVALID_REQUEST', message, type: ctx.type || 'unknown' },\n  };\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: ctx.callbackUrl,\n      headers: { 'X-Internal-Token': process.env.INTERNAL_API_KEY || '' },\n      body: payload,\n      json: true,\n    });\n  } catch (e) {}\n}\nreturn [{ json: { ok: false, error: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        760
      ],
      "id": "node-err-callback",
      "name": "Send Validation Error Callback"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"code\": \"INVALID_REQUEST\",\n  \"message\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -560,
        760
      ],
      "id": "node-err-ack",
      "name": "Ack Validation Error (400)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "id": "cond-image",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "id": "cond-video",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "short_video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -800,
        480
      ],
      "id": "node-route-type",
      "name": "Route by Type"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst systemPrompt = [\n  'You are an expert visual content designer specialising in social media marketing for Thai SMEs.',\n  '',\n  'Given a marketing caption and brand context, write ONE detailed image-generation instruction for the Gemini native image model (Nano Banana).',\n  '',\n  'Rules:',\n  '1. Reflect the brand tone, palette and any keywords provided.',\n  '2. Describe composition, subject, lighting, colour scheme, mood, textures and camera framing.',\n  '3. Optimise for a 1:1 social media post.',\n  '4. Do NOT include text, typography, letters, words or logos in the image.',\n  '5. If reference images are supplied, keep their subject while applying the marketing requirements.',\n  '6. Keep the instruction under 220 words, vivid, direct.',\n  '7. Do NOT depict people, faces, hands, or body parts.',\n  '',\n  'Respond ONLY with the final image instruction. No preamble, no explanations.'\n].join('\\n');\n\nconst userParts = [\n  `Post type: ${item.postType || 'lifestyle'}`,\n  `Caption: ${item.caption || '(none)'}`,\n  `Business: ${item.business.name} (${item.business.industry || 'general'})`,\n  `Tone: ${item.business.tone || 'friendly'}`,\n  `Keywords: ${(item.business.keywords || []).join(', ') || 'N/A'}`,\n  `Aspect ratio: ${item.aspect_ratio || '1:1'}`,\n];\nif (item.featuredServices && item.featuredServices.length) {\n  const services = item.featuredServices\n    .map((s) => `${s.name}${s.imagePublicUrl ? ' [ref image available]' : ''}`)\n    .join(', ');\n  userParts.push(`Featured services to visualise: ${services}`);\n}\nif (item.hasReference) {\n  userParts.push(`Reference images provided: ${item.referenceImageUrls.length}. The image model will receive them for editing.`);\n}\n\nreturn [{\n  json: {\n    original: item,\n    api_body: {\n      model: 'google/gemini-2.5-flash',\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userParts.join('\\n') }\n      ],\n      temperature: 0.7,\n      max_tokens: 400,\n    },\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        240
      ],
      "id": "node-prep-img-prompt",
      "name": "Prepare Image Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.GCP_LOCATION || 'us-central1' }}-aiplatform.googleapis.com/v1beta1/projects/{{ $env.GCP_PROJECT_ID }}/locations/{{ $env.GCP_LOCATION || 'us-central1' }}/endpoints/openapi/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_body) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        240
      ],
      "id": "node-enhance-img",
      "name": "Enhance Image Prompt (Gemini)",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleOAuth2Api": {
          "id": "GnR7pOOGjfC2LHur",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Validate Input').first().json.hasReference }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        240
      ],
      "id": "node-has-ref-img",
      "name": "Has Ref Image?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "referenceImageUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        80
      ],
      "id": "node-split-refs",
      "name": "Split Refs"
    },
    {
      "parameters": {
        "url": "={{ $json.referenceImageUrls.replace('localhost:9000', 'minio:9000') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        80
      ],
      "id": "node-download-refs",
      "name": "Download Refs"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Validate Input').first().json;\nconst promptResp = $('Enhance Image Prompt (Gemini)').first().json;\nconst enhancedPrompt = promptResp.choices[0].message.content.trim();\n\nconst imageInstruction = [\n  enhancedPrompt,\n  '',\n  'Create one clear image only.',\n  'Keep the composition simple and fully visual.',\n  'Do not include text, logos, letters, typography, people, faces, hands, or body parts.',\n  'If the subject is food or a product, show it clearly centred and highly detailed.'\n].join('\\n');\nconst parts = [{ text: imageInstruction }];\n\nconst items = $input.all();\nfor (const it of items) {\n  const bin = it.binary && it.binary.data;\n  if (bin && bin.data) {\n    parts.push({\n      inlineData: {\n        mimeType: bin.mimeType || 'image/jpeg',\n        data: bin.data,\n      }\n    });\n  }\n}\n\nconst apiBody = {\n  contents: [{ role: 'user', parts }],\n  generationConfig: {\n    responseModalities: ['IMAGE'],\n    imageConfig: { aspectRatio: original.aspect_ratio || '1:1' },\n  },\n};\n\nreturn [{\n  json: {\n    original,\n    enhanced_prompt: enhancedPrompt,\n    aspect_ratio: original.aspect_ratio || '1:1',\n    api_body: apiBody,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        240
      ],
      "id": "node-build-img",
      "name": "Build Image Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://aiplatform.googleapis.com/v1/projects/{{ $env.GCP_PROJECT_ID }}/locations/global/publishers/google/models/gemini-3.1-flash-image:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        240
      ],
      "id": "node-generate-img",
      "name": "Generate Image (Nano Banana)",
      "credentials": {
        "googleOAuth2Api": {
          "id": "GnR7pOOGjfC2LHur",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst original = $('Validate Input').first().json;\nconst prepareData = $('Build Image Request').first().json;\n\nconst candidates = response.candidates || [];\nlet base64 = null;\nlet mime = 'image/png';\nfor (const cand of candidates) {\n  const parts = (cand.content && cand.content.parts) || [];\n  for (const p of parts) {\n    if (p.inlineData && p.inlineData.data) {\n      base64 = p.inlineData.data;\n      mime = p.inlineData.mimeType || mime;\n      break;\n    }\n  }\n  if (base64) break;\n}\nif (!base64) {\n  const finishReason = (response && response.candidates && response.candidates[0] && response.candidates[0].finishReason) || 'UNKNOWN';\n  const textParts = (response && response.candidates && response.candidates[0] && response.candidates[0].content && response.candidates[0].content.parts || [])\n    .filter((p) => p && typeof p.text === 'string' && p.text.trim())\n    .map((p) => p.text.trim())\n    .join('\\n');\n  throw new Error(\n    'Gemini image model returned no image. finishReason=' + finishReason + '; text=' + textParts.slice(0, 500)\n  );\n}\n\nconst ext = mime.includes('jpeg') ? 'jpg' : 'png';\nconst filename = 'img_' + original.jobId + '.' + ext;\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(base64, 'base64'),\n  filename,\n  mime,\n);\n\nreturn [{\n  json: {\n    original,\n    enhanced_prompt: prepareData.enhanced_prompt,\n    mime,\n    size_bytes: Buffer.from(base64, 'base64').length,\n  },\n  binary: { data: binaryData },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        240
      ],
      "id": "node-convert-img-bin",
      "name": "Convert Image to Binary"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Validate Input').first().json.upload.presignedUrl }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "neverError": true,
              "fullResponse": true
            }
          },
          "timeout": 120000,
          "redirect": {
            "redirect": {
              "maxRedirects": 0,
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        240
      ],
      "id": "node-upload-img-minio",
      "name": "PUT Image to MinIO",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Validate Input').first().json || {};\nconst err = ($json && $json.error) || {};\nconst message = (err.message || err.description || 'MinIO upload (image) failed').toString().slice(0, 1000);\nif (ctx.callbackUrl && ctx.jobId) {\n  return [{\n    json: {\n      callbackUrl: ctx.callbackUrl,\n      payload: {\n        jobId: ctx.jobId,\n        error: { code: 'upload_failed', message, type: ctx.type || 'image' },\n      },\n    }\n  }];\n}\nreturn [{ json: { ok: false, error: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        380
      ],
      "id": "node-img-err-format",
      "name": "Format Image Upload Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_API_KEY }}",
              "parameterType": "string"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        380
      ],
      "id": "node-img-err-send",
      "name": "Send Image Upload Error",
      "credentials": {
        "httpHeaderAuth": {
          "id": "INTERNAL_TOKEN_CRED",
          "name": "Internal Token (X-Internal-Token)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let data = null;\ntry { data = $('Convert Image to Binary').first().json; } catch (e) {}\nlet putResp = null;\ntry { putResp = $('PUT Image to MinIO').first().json; } catch (e) {}\nconst status = (putResp && (putResp.statusCode || putResp.status)) || 0;\nconst body = putResp && putResp.body ? putResp.body.toString().slice(0, 300) : '';\n\nif (!data || !data.original) {\n  throw new Error('Prepare Image Callback: missing context (data/original).');\n}\nif (!(status >= 200 && status < 300)) {\n  throw new Error('MinIO PUT for image returned status ' + status + ': ' + body);\n}\n\nconst upload = data.original.upload;\nconst payload = {\n  jobId: data.original.jobId,\n  result: {\n    storageKey: upload.storageKey,\n    publicUrl: upload.publicUrl,\n    mime: data.mime,\n    sizeBytes: data.size_bytes,\n    width: null,\n    height: null,\n    durationSec: null,\n  },\n};\n\nreturn [{\n  json: {\n    callbackUrl: data.original.callbackUrl,\n    payload,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        240
      ],
      "id": "node-prepare-img-cb",
      "name": "Prepare Image Callback",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.callbackUrl }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1840,
        240
      ],
      "id": "node-has-img-cb",
      "name": "Has Callback?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_API_KEY }}",
              "parameterType": "string"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        240
      ],
      "id": "node-send-img-cb",
      "name": "Send Image Callback",
      "credentials": {
        "httpHeaderAuth": {
          "id": "INTERNAL_TOKEN_CRED",
          "name": "Internal Token (X-Internal-Token)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"accepted\",\n  \"jobId\": \"{{ $('Validate Input').first().json.jobId }}\",\n  \"message\": \"Image generation in progress. Result will be POSTed to callbackUrl.\"\n}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -560,
        720
      ],
      "id": "node-ack-img",
      "name": "Acknowledge Image (202)"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst systemPrompt = [\n  'You are an expert short-form video content creator specialising in social media marketing.',\n  '',\n  'Given a marketing caption and brand context, write ONE detailed prompt for the Veo 3.1 video model.',\n  '',\n  'Rules:',\n  '1. Describe scene composition, subject, action, camera movement and visual flow.',\n  '2. Specify mood, lighting and colour grading.',\n  '3. Optimise for 9:16 (vertical, social media).',\n  '4. Keep the scene simple, focused and visually striking.',\n  '5. Avoid on-screen text, typography or multi-character interactions.',\n  '6. Do NOT depict people, faces, hands, or body parts.',\n  '7. For food or product ads, focus on the dish, ingredients, lighting, texture, motion.',\n  '8. If a reference image is provided, treat it as the starting frame and keep the subject consistent.',\n  '',\n  'Respond ONLY with the final video prompt. No explanations.'\n].join('\\n');\n\nconst userParts = [\n  `Post type: ${item.postType || 'lifestyle'}`,\n  `Caption: ${item.caption || '(none)'}`,\n  `Business: ${item.business.name} (${item.business.industry || 'general'})`,\n  `Tone: ${item.business.tone || 'friendly'}`,\n  `Keywords: ${(item.business.keywords || []).join(', ') || 'N/A'}`,\n  `Aspect ratio: 9:16`,\n];\nif (item.featuredServices && item.featuredServices.length) {\n  const services = item.featuredServices\n    .map((s) => `${s.name}${s.imagePublicUrl ? ' [ref image available]' : ''}`)\n    .join(', ');\n  userParts.push(`Featured services to visualise: ${services}`);\n}\nif (item.hasReference) {\n  userParts.push('A reference image will be supplied as the starting frame / subject. Keep that subject consistent.');\n}\nuserParts.push('Important: keep the scene object-focused / food-focused, free from people, faces, hands, body parts.');\n\nreturn [{\n  json: {\n    original: item,\n    api_body: {\n      model: 'google/gemini-2.5-flash',\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userParts.join('\\n') }\n      ],\n      temperature: 0.7,\n      max_tokens: 400,\n    },\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        480
      ],
      "id": "node-prep-vid-prompt",
      "name": "Prepare Video Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.GCP_LOCATION || 'us-central1' }}-aiplatform.googleapis.com/v1beta1/projects/{{ $env.GCP_PROJECT_ID }}/locations/{{ $env.GCP_LOCATION || 'us-central1' }}/endpoints/openapi/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_body) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        480
      ],
      "id": "node-enhance-vid",
      "name": "Enhance Video Prompt (Gemini)",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleOAuth2Api": {
          "id": "GnR7pOOGjfC2LHur",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Validate Input').first().json.hasReference }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        480
      ],
      "id": "node-has-ref-vid",
      "name": "Has Ref Video?"
    },
    {
      "parameters": {
        "url": "={{ (() => {  const u = ($('Validate Input').first().json.referenceImageUrls[0]) || '';  if (!u.startsWith('gs://')) return u.replace('localhost:9000', 'minio:9000');  const rest = u.slice(5);  const slash = rest.indexOf('/');  if (slash < 0) return u;  const bucket = rest.slice(0, slash);  const obj = rest.slice(slash + 1);  return `https://storage.googleapis.com/storage/v1/b/${bucket}/o/${encodeURIComponent(obj)}?alt=media`;})() }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_API_KEY }}",
              "parameterType": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        320
      ],
      "id": "node-download-vid-ref",
      "name": "Download Video Ref",
      "credentials": {
        "googleOAuth2Api": {
          "id": "GnR7pOOGjfC2LHur",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Validate Input').first().json;\nconst promptResp = $('Enhance Video Prompt (Gemini)').first().json;\nconst enhancedPrompt = promptResp.choices[0].message.content.trim();\n\nlet imageBase64 = null;\nlet mimeType = 'image/jpeg';\ntry {\n  const bin = $input.first().binary && $input.first().binary.data;\n  if (bin && bin.data) {\n    imageBase64 = bin.data;\n    mimeType = bin.mimeType || 'image/jpeg';\n  }\n} catch (e) {}\n\nconst instance = { prompt: enhancedPrompt };\nif (imageBase64) {\n  instance.image = { bytesBase64Encoded: imageBase64, mimeType };\n}\n\nconst parameters = {\n  storageUri: 'gs://' + ($env.GCP_VEO_OUTPUT_BUCKET || 'erp-ai-veo-bucket') + '/n8n-tmp/',\n  sampleCount: 1,\n  aspectRatio: '9:16',\n  resolution: '720p',\n  durationSeconds: 8,\n};\n\nreturn [{\n  json: {\n    original,\n    enhanced_prompt: enhancedPrompt,\n    submitted_at: new Date().toISOString(),\n    api_body: { instances: [instance], parameters },\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        480
      ],
      "id": "node-build-vid",
      "name": "Build Video Job"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.GCP_LOCATION || 'us-central1' }}-aiplatform.googleapis.com/v1beta1/projects/{{ $env.GCP_PROJECT_ID }}/locations/{{ $env.GCP_LOCATION || 'us-central1' }}/publishers/google/models/veo-3.1-generate-001:predictLongRunning",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_body) }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        480
      ],
      "id": "node-submit-vid",
      "name": "Submit Video Job (Veo 3.1)",
      "credentials": {
        "googleOAuth2Api": {
          "id": "GnR7pOOGjfC2LHur",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const submitResponse = $input.first().json;\nconst jobData = $('Build Video Job').item.json;\nconst taskId = submitResponse.name;\nif (!taskId) {\n  throw new Error('Veo did not return an operation name. Response: ' + JSON.stringify(submitResponse).slice(0, 1000));\n}\nreturn [{\n  json: {\n    task_id: taskId,\n    original: jobData.original,\n    enhanced_prompt: jobData.enhanced_prompt,\n    submitted_at: jobData.submitted_at || new Date().toISOString(),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        480
      ],
      "id": "node-extract-task",
      "name": "Extract Task Info"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        480
      ],
      "id": "node-wait-20s",
      "name": "Wait 20s",
      "webhookId": "vid-poll-wait-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.GCP_LOCATION || 'us-central1' }}-aiplatform.googleapis.com/v1/projects/{{ $env.GCP_PROJECT_ID }}/locations/{{ $env.GCP_LOCATION || 'us-central1' }}/publishers/google/models/veo-3.1-generate-001:fetchPredictOperation",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"operationName\":\"{{ $json.task_id }}\"}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        480
      ],
      "id": "node-check-vid",
      "name": "Check Video Status",
      "credentials": {
        "googleOAuth2Api": {
          "id": "GnR7pOOGjfC2LHur",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statusResponse = $input.first().json;\nconst taskInfo = $('Extract Task Info').first().json;\n\nconst elapsed = Date.now() - new Date(taskInfo.submitted_at).getTime();\nconst maxDuration = 10 * 60 * 1000;\n\nif (elapsed > maxDuration) {\n  return [{\n    json: {\n      status: 'failed',\n      error_message: 'Video generation timed out after ' + Math.round(elapsed / 1000) + 's',\n      task_id: taskInfo.task_id,\n      original: taskInfo.original,\n    }\n  }];\n}\n\nconst isDone = statusResponse.done === true;\nlet gcsUri = null;\nlet errorMsg = null;\nlet width = null, height = null, durationSec = null;\n\nif (isDone) {\n  const apiError = statusResponse.error || (statusResponse.response && statusResponse.response.error);\n  if (apiError) {\n    errorMsg = apiError.message || JSON.stringify(apiError);\n  } else {\n    const rai = statusResponse.response;\n    if (rai && (Number(rai.raiMediaFilteredCount) > 0\n        || (Array.isArray(rai.raiMediaFilteredReasons) && rai.raiMediaFilteredReasons.length > 0))) {\n      const reasons = (rai.raiMediaFilteredReasons || []).join('; ');\n      errorMsg = 'Content was filtered by Vertex AI safety check' + (reasons ? ': ' + reasons : '');\n    } else {\n      gcsUri = (statusResponse.response && statusResponse.response.videos && statusResponse.response.videos[0] && statusResponse.response.videos[0].gcsUri)\n        || (statusResponse.response && statusResponse.response.generateVideoResponse && statusResponse.response.generateVideoResponse.generatedSamples && statusResponse.response.generateVideoResponse.generatedSamples[0] && statusResponse.response.generateVideoResponse.generatedSamples[0].video && statusResponse.response.generateVideoResponse.generatedSamples[0].video.uri)\n        || null;\n      if (!gcsUri) {\n        errorMsg = 'Could not find video URI: ' + JSON.stringify(statusResponse).slice(0, 800);\n      } else {\n        const meta = (statusResponse.response && statusResponse.response.videos && statusResponse.response.videos[0]) || (statusResponse.response && statusResponse.response.generateVideoResponse && statusResponse.response.generateVideoResponse.generatedSamples && statusResponse.response.generateVideoResponse.generatedSamples[0]);\n        width = (meta && meta.width) || null;\n        height = (meta && meta.height) || null;\n        durationSec = (meta && (meta.durationSeconds || meta.durationSec)) || 8;\n      }\n    }\n  }\n}\n\nlet normalizedStatus = 'processing';\nif (isDone) {\n  normalizedStatus = errorMsg ? 'failed' : 'completed';\n}\n\nreturn [{\n  json: {\n    status: normalizedStatus,\n    gcs_url: gcsUri,\n    error_message: errorMsg,\n    task_id: taskInfo.task_id,\n    original: taskInfo.original,\n    enhanced_prompt: taskInfo.enhanced_prompt,\n    width, height, durationSec,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        480
      ],
      "id": "node-eval-vid",
      "name": "Evaluate Video Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "id": "cond-completed",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "id": "cond-processing",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1840,
        480
      ],
      "id": "node-route-vid",
      "name": "Route Video Status"
    },
    {
      "parameters": {
        "url": "={{ (() => {  const u = ($json.gcs_url || $('Evaluate Video Status').last().json.gcs_url) || '';  if (!u.startsWith('gs://')) return u;  const rest = u.slice(5);  const slash = rest.indexOf('/');  if (slash < 0) return u;  const bucket = rest.slice(0, slash);  const obj = rest.slice(slash + 1);  return `https://storage.googleapis.com/storage/v1/b/${bucket}/o/${encodeURIComponent(obj)}?alt=media`;})() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 180000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_API_KEY }}",
              "parameterType": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        480
      ],
      "id": "node-download-vid",
      "name": "Download Video (GCS)",
      "credentials": {
        "googleOAuth2Api": {
          "id": "GnR7pOOGjfC2LHur",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Validate Input').first().json.upload.presignedUrl }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "neverError": true,
              "fullResponse": true
            }
          },
          "timeout": 300000,
          "redirect": {
            "redirect": {
              "maxRedirects": 0,
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        480
      ],
      "id": "node-upload-vid-minio",
      "name": "PUT Video to MinIO",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Validate Input').first().json || {};\nconst err = ($json && $json.error) || {};\nconst message = (err.message || err.description || 'MinIO upload (video) failed').toString().slice(0, 1000);\nif (ctx.callbackUrl && ctx.jobId) {\n  return [{\n    json: {\n      callbackUrl: ctx.callbackUrl,\n      payload: {\n        jobId: ctx.jobId,\n        error: { code: 'upload_failed', message, type: ctx.type || 'short_video' },\n      },\n    }\n  }];\n}\nreturn [{ json: { ok: false, error: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        620
      ],
      "id": "node-vid-err-format",
      "name": "Format Video Upload Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_API_KEY }}",
              "parameterType": "string"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        620
      ],
      "id": "node-vid-err-send",
      "name": "Send Video Upload Error",
      "credentials": {
        "httpHeaderAuth": {
          "id": "INTERNAL_TOKEN_CRED",
          "name": "Internal Token (X-Internal-Token)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let evalData = null;\ntry { evalData = $('Evaluate Video Status').last().json; } catch (e) {}\nlet putResp = null;\ntry { putResp = $('PUT Video to MinIO').first().json; } catch (e) {}\nconst status = (putResp && (putResp.statusCode || putResp.status)) || 0;\nconst body = putResp && putResp.body ? putResp.body.toString().slice(0, 300) : '';\n\nif (!evalData || !evalData.original) {\n  throw new Error('Prepare Video Callback: missing context (evalData/original).');\n}\nif (!(status >= 200 && status < 300)) {\n  throw new Error('MinIO PUT for video returned status ' + status + ': ' + body);\n}\n\nconst upload = evalData.original.upload;\nconst payload = {\n  jobId: evalData.original.jobId,\n  result: {\n    storageKey: upload.storageKey,\n    publicUrl: upload.publicUrl,\n    mime: 'video/mp4',\n    sizeBytes: null,\n    width: evalData.width,\n    height: evalData.height,\n    durationSec: evalData.durationSec,\n  },\n};\n\nreturn [{\n  json: {\n    callbackUrl: evalData.original.callbackUrl,\n    payload,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        480
      ],
      "id": "node-prepare-vid-cb",
      "name": "Prepare Video Callback",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_API_KEY }}",
              "parameterType": "string"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        480
      ],
      "id": "node-send-vid-cb",
      "name": "Send Video Callback",
      "credentials": {
        "httpHeaderAuth": {
          "id": "INTERNAL_TOKEN_CRED",
          "name": "Internal Token (X-Internal-Token)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"accepted\",\n  \"jobId\": \"{{ $('Validate Input').first().json.jobId }}\",\n  \"message\": \"Short-video generation in progress. Result will be POSTed to callbackUrl.\"\n}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        720
      ],
      "id": "node-ack-vid",
      "name": "Acknowledge Video (202)"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet jobId = null;\nlet callbackUrl = null;\ntry { jobId = $('Validate Input').first().json.jobId; } catch (e) {}\ntry { callbackUrl = $('Validate Input').first().json.callbackUrl; } catch (e) {}\n\nconst message = (data && data.error_message) ? String(data.error_message).slice(0, 1000) : 'Video generation failed.';\nconst lower = message.toLowerCase();\nlet code = 'VIDEO_GENERATION_FAILED';\nlet metadata = null;\nif (lower.includes('safety check') || lower.includes('rai') || lower.includes('recitation') || lower.includes('blocked')) {\n  code = 'content_safety';\n  const reasons = [];\n  const m = message.match(/safety check(?:\\s*:\\s*)?(.*)$/i);\n  if (m && m[1]) reasons.push(m[1].trim());\n  if (reasons.length) metadata = { raiMediaFilteredReasons: reasons };\n}\n\nconst errPayload = {\n  jobId: jobId,\n  error: {\n    code,\n    message,\n    taskId: data.task_id || null,\n  },\n};\nif (metadata) errPayload.metadata = metadata;\n\nreturn [{\n  json: {\n    callbackUrl: callbackUrl,\n    payload: errPayload,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        720
      ],
      "id": "node-vid-err",
      "name": "Format Video Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_API_KEY }}",
              "parameterType": "string"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        720
      ],
      "id": "node-send-vid-err",
      "name": "Send Video Error",
      "credentials": {
        "httpHeaderAuth": {
          "id": "INTERNAL_TOKEN_CRED",
          "name": "Internal Token (X-Internal-Token)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Media Request": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Validation Error Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Validation Error Callback": {
      "main": [
        [
          {
            "node": "Ack Validation Error (400)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Prepare Image Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Video Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Validation Error Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Prompt": {
      "main": [
        [
          {
            "node": "Enhance Image Prompt (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Image Prompt (Gemini)": {
      "main": [
        [
          {
            "node": "Has Ref Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Ref Image?": {
      "main": [
        [
          {
            "node": "Split Refs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Image Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Refs": {
      "main": [
        [
          {
            "node": "Download Refs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Refs": {
      "main": [
        [
          {
            "node": "Build Image Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Request": {
      "main": [
        [
          {
            "node": "Generate Image (Nano Banana)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (Nano Banana)": {
      "main": [
        [
          {
            "node": "Convert Image to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Image to Binary": {
      "main": [
        [
          {
            "node": "PUT Image to MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT Image to MinIO": {
      "main": [
        [
          {
            "node": "Prepare Image Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Image Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Callback": {
      "main": [
        [
          {
            "node": "Has Callback?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Image Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Image Upload Error": {
      "main": [
        [
          {
            "node": "Send Image Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Image Upload Error": {
      "main": [
        [
          {
            "node": "Acknowledge Image (202)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Callback?": {
      "main": [
        [
          {
            "node": "Send Image Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Image Callback": {
      "main": [
        [
          {
            "node": "Acknowledge Image (202)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Prompt": {
      "main": [
        [
          {
            "node": "Enhance Video Prompt (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Video Prompt (Gemini)": {
      "main": [
        [
          {
            "node": "Has Ref Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Ref Video?": {
      "main": [
        [
          {
            "node": "Download Video Ref",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Video Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video Ref": {
      "main": [
        [
          {
            "node": "Build Video Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Video Job": {
      "main": [
        [
          {
            "node": "Submit Video Job (Veo 3.1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Video Job (Veo 3.1)": {
      "main": [
        [
          {
            "node": "Extract Task Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task Info": {
      "main": [
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "Evaluate Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Video Status": {
      "main": [
        [
          {
            "node": "Route Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Video Status": {
      "main": [
        [
          {
            "node": "Download Video (GCS)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Video Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video (GCS)": {
      "main": [
        [
          {
            "node": "PUT Video to MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT Video to MinIO": {
      "main": [
        [
          {
            "node": "Prepare Video Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Video Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Callback": {
      "main": [
        [
          {
            "node": "Send Video Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Video Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Video Upload Error": {
      "main": [
        [
          {
            "node": "Send Video Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video Upload Error": {
      "main": [
        [
          {
            "node": "Acknowledge Video (202)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video Callback": {
      "main": [
        [
          {
            "node": "Acknowledge Video (202)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Video Error": {
      "main": [
        [
          {
            "node": "Send Video Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "ai-media-n8n-v1"
}